h1,h2,h3,h4,h5,h6 {
  font-family:  Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 15px;
  
}